version: '3'

services:
  web-app:
    container_name: nextjs-web-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
